        <footer>
            <p>Developed by <a href="http://grant.heaslip.me/">Grant Heaslip</a>. <a id="weather-page-link" href="http://weather.gc.ca/canada_e.html">Data</a> from <a href="http://weather.gc.ca/business/index_e.html#rss">Environment Canada</a> via <a href="https://developer.yahoo.com/yql/">YQL</a>. <a href="http://adamwhitcroft.com/climacons/">Icons by Adam Whitcroft</a>.</p>
        </footer>
    </div>
</body>
</html>
