        <footer>
            <p>Developed by <a href="https://grant.heaslip.me/">Grant Heaslip</a>. <a id="weather-page-link" href="https://weather.gc.ca/canada_e.html" rel="noopener noreferrer">Data</a> from <a href="https://weather.gc.ca/business/index_e.html#rss" rel="noopener noreferrer">Environment Canada</a>. <a href="http://adamwhitcroft.com/climacons/" rel="noopener noreferrer">Icons by Adam Whitcroft</a>.</p>
        </footer>
    </div>
    <script src="<%= staticPath('weather.js') %>" type="application/javascript"></script>
</body>
</html>
